{{- define "title" }}{{ .Title }} - {{ .Site.Title }}{{ end -}}

{{- define "content" -}}
    {{- $params := .Scratch.Get "params" -}}
    {{ $cdn_url := .Scratch.Get "cdn_url" }}
    <div class="page single special">
        {{- /* Title */ -}}
        <h1 class="single-title animate__animated animate__pulse animate__faster">
            {{- .Title -}}
        </h1>

        {{- /* Subtitle */ -}}
        {{- with $params.subtitle -}}
            <h2 class="single-subtitle">{{ . }}</h2>
        {{- end -}}

        {{- /* Content */ -}}
        <div class="content">

        {{ if eq .Params.toc true }}
        <details class='entry-toc'>
        <summary>
            <span>
            Table of Contents
            </span>
        </summary>
        {{ .TableOfContents }}
        </details>
        {{ end }}


        <!--featured_image-->

        {{ $images := findRE "<img src=\"[^\"|\\\"]*\"" .Content -}}
        {{ if ge (len $images) 1}}
            {{ $.Scratch.Set "postHasImages" true }}
        {{ end }}

        {{ with .Params.featured_image }}
          {{- $img := . -}}
          <img src="{{ printf "%s%s" $cdn_url $img }}" class="featured_image">
        {{ end }}
        <!-- end featured_image-->

          {{ $reAltIn := "<img src=\"([^\"]+)\" alt=\"([^\"]+)?\" />" }}
          {{ $reAltOut :=  ( printf "<figure><img src=\"/images/ring.svg\" data-sizes=\"auto\" data-src=\"%s$1\" alt=\"$2\" class=\"lazyload\"><figcaption class=\"image-caption\">$2</figcaption></figure>" $cdn_url ) }}
          {{ $altContent := .Content | replaceRE $reAltIn $reAltOut | safeHTML }}

          {{ $reAltTitleIn := "<img src=\"([^\"]+)\" alt=\"([^\"]+)?\" title=\"([^\"]+)?\" />" }}
          {{ $reAltTitleOut := ( printf "<figure><div class=\"img-container\"><img src=\"/images/ring.svg\" data-src=\"%s$1\" data-sizes=\"auto\" alt=\"$2\" title=\"$3\" class=\"lazyload\"></div><figcaption class=\"image-caption\">$3</figcaption></figure>" $cdn_url ) }}
          {{ $finalContent := $altContent | replaceRE $reAltTitleIn $reAltTitleOut | safeHTML }}

          {{ $finalContent }}
    </div>

        {{- /* Comment */ -}}
        {{- partial "comment.html" . -}}
    </div>
{{- end -}}
